@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,400,300);

* {
    font-family:            Open Sans, sans-serif;
    font-size:              12pt;
}

body {
    background-color:       #ECF0F1;
    color:                  #BDC3C7;
    font-weight:            300;
    margin:                 0;
}

fieldset {
    border:                 none;
    /*display:                inline-block;*/
}

footer {
    display:                none;
    /*margin-top:             1em;
    padding:                .25em;
    text-align:             center;*/
}

form {
    padding:                .5em;
}

header {
    padding:                .5em;
}

header * {
    vertical-align:         middle;
    display:                inline;
}

header a {
    text-decoration:        none;
}

h1 {
    color:                  #C0392B;
    display:                inline-block;
    font-size:              30pt;
    font-weight:            100;
    margin:                 0;
}

h4 {
    display:                inline;
    font-size:              16pt;
    font-weight:            100;
    margin:                 0;
}

h5 {
    background-color:       #006969;
    font-size:              24pt;
    font-weight:            300;
    margin:                 0;
}

h6 {
    display:                inline;
    margin:                 0;
}

img {
    width:                  75%;
}

input[type='radio'] {
    display:                none;
}

label {
    display:                block;
    cursor:                 pointer;    
}

label:hover {
    color:                  #ECF0F1;
}

label[for='beer-menu-action'] {
    text-rendering:         geometricPrecision; /* Prevent's blurryness on some devices */
    float:                  right;
}

main {
    /*display:                -webkit-flex;    
    display:                flex;*/
    margin:                 5em;    
}

main > section {
    width:                  100%;
}

nav {
    display:                inline;
}

nav a {
    text-decoration:        none;
    color:                  inherit;
    display:                inline-block;
    padding:                0em 1em 0em 1em;    
}

output {
    background-color:       #222E3A;
    padding:                .25em 0em .25em 0em;
}

textarea {
    background-color:       #222E3A;
    color:                  #BDC3C7;
    border:                 none;
    outline:                none;
}

.beer-link {
    text-decoration:        none;
    color:                  inherit;
    display:                inline-block;
    max-width:              30%;
}

.beer-view {
    display:                none;
}

.beer-view:target {
    display:                -webkit-flex;    
    display:                flex;
}

.beer-view:target ~ #hud {
    display:                none;
}

.beer-menu-form {
    background-color:       #34495E;    
    box-shadow:             1px 1px 7px 0px #2F2F2F;    
}

.menu-options {
    list-style:             none;
    margin:                 0;
    padding:                0;
}

.menu-options li {
    background-color:       #34495E;
    color:                  #F1C40F;
    cursor:                 pointer;
    padding:                .5em;
    margin:                 .35em 0em .35em 0em;
    font-size:              10pt;
    box-shadow:             1px 1px 7px 0px #2F2F2F;
}

.menu-options li:last-child {
    margin-bottom:          0px;
}

.chart {
    -webkit-flex-grow:      2;    
    flex-grow:              2;
    vertical-align:         top;
}

.chart svg {
    height:                 275px;
}

.circle-badge {
    background-color:       #C0392B;
    width:                  50px;
    height:                 50px;
    border-radius:          50px;
    display:                inline-block;
}

.close-form {
    color:                  #C0392B;
    cursor:                 pointer;
    margin-left:            3px;
}

.content-area {
    padding:                .5em;
}

.content-box {
    background-color:       #34495E;
    /*border-radius:          3px;*/
    margin:                 .3em;
    box-shadow:             3px 3px 5px 0px #A5A5A5;
}

.content-header {
    background-color:       #2C3E50;
    border-top-right-radius: inherit;
    border-top-left-radius: inherit;
    margin:                 0;
}

.header-logo {
    width:                  50px;
    height:                 50px;
    padding:                .1em;
}

.header-right {
    float:                  right;
}

.rating-slider {
    width:                  48%;
    display:                inline-block;
    text-align:             center;
}

.serving-attribute {
    font-weight:            400;
}

.wrap-button {
    text-align:             center;
    margin-top:             1em;
}

#beer-menu {
    margin-top:             .5em;
    display:                none;
}

#beer-menu-action {
    display:                none;
}

#beer-menu-action:checked + #beer-menu {
    display:                block;
}

#current-temperature {
    color:                  #2C3E50;
    padding-right:          3em;
    font-size:              18pt;
}


#hud {
    display:                -webkit-flex;
    display:                flex;
    justify-content:        center;
    -webkit-justify-content: center;
}

#serving {
    padding:                .5em;
}

/*
#tap-form-beer {
    display:                none;
}

#tap-form-brewer {
    display:                none;
}
*/

#rate-form textarea {
    margin-top:             1em;
    width:                  100%;
}

#remaining-graph {
    vertical-align:         bottom;
    height:                 150px;
}

/* -------------------- *
 * SVG
 * -------------------- */
svg {
    width:                  100%;
    max-height:             100%;
    vertical-align:         bottom;
}

.chart-day {
    fill:                   #F1C40F;
}

.chart-day-mean {
    fill:                   #E74C3C;
}

.chart-trendline {
    stroke:                 #16A085;
    stroke-width:           6px;
    fill:                   none;    
}

.chart-prediction {
    stroke:                 #D35400;
    stroke-width:           6px;
    fill:                   none;
}

.chart-trendline-fill {
    stroke:                 none;
}

.chart-fillunder-start {
    stop-color:             #94D31B;
}

.chart-fillunder-stop {
    stop-color:             #034159;
}

.ok {
    fill:                   #16A085;
}

.medium {
    fill:                   #F1C40F;
}

.low {
    fill:                   #C0392B;
}

.remaining-bar {
    fill:                   #16A085;
}

.remaining-text {
    font-size:              32pt;
    font-family:            Open Sans, sans-serif;
    fill:                   #ECF0F1;
    text-anchor:            middle;
}

/* -------------------- *
 * MEDIA QUERIES
 * -------------------- */
@media all and (max-width: 960px) {
    main {
        margin:             5em 0em 5em 0em;
    }

    #chart {
        order:              1
    }

    #consumption-graph {
        height:             initial;
    }

    .beer-view {
        margin:             0;
    }

    .content-box {
        -webkit-flex-grow:  1;
        flex-grow:          1;
    }
}

@media all and (max-width: 540px) {
    main {
        margin:             0em;
    }

    nav {
        display:            block;
        text-align:         center;
    }

    nav a {
        padding-left:       .25em;
        padding-right:      .25em;
    }

    .header-right {
        float:              none;
    }

    .beer-view {
        -webkit-flex-direction: column;
        flex-direction:     column;
    }

    .beer-link {
        max-width:          100%;
    }

    #current-temperature {
        display:            none;
    }

    #hud {
        -webkit-flex-direction: column;        
        flex-direction:     column;
    }

    #qrcode {
        display:            none;
    }
}
