* {
    font-family:            helvetica;
    font-size:              12pt;
    font-weight:            100;
}

body {
    margin:                 0;
    background-color:       #119C9C;
}

footer {
    background-color:       #006969;    
    margin-top:             1em;
    padding:                .25em;
    text-align:             center;
    border-top:             solid 1px #004646;    
}

header {
    padding:                2em;
    background-color:       #006969;
    text-align:             center; 
    margin-bottom:          1em;
    border-bottom:          solid 1px #004646;
}

h1 {
    margin:                 0;
    color:                  #FFFFFF;
    font-size:              48pt;
}

h4 {
    color:                  #FFFFFF;
    font-size:              28pt;
}

img {
    width:                  75%;
}

p {
    color:                  #FFFFFF;
    margin:                 0;
}

#main {
    width:                  70%;
    margin:                 auto;
    text-align:             center;
}

.img-wrap {
    margin:                 .25em;
}

.img-shadow {
    background-color:       #006969;
    box-shadow:             5px 5px 0px 0px #004646;
}
