* {
    font-family:            helvetica;
    font-size:              12pt;
}

b {
    color:                  inherit;
}

body {
    background-color:       #119C9C;
    color:                  #FFFFFF;
    font-weight:            300;        
    margin:                 0;
}

footer {
    margin-top:             1em;
    padding:                .25em;
}

header {
    padding:                .5em;
    margin-bottom:          1em;
}

header * {
    vertical-align:         middle;
}

h1 {
    display:                inline-block;    
    color:                  #FFFFFF;    
    font-size:              28pt;
    font-weight:            100;
    margin:                 0;    
}

h4 {
    color:                  #FFFFFF;
    font-size:              16pt;
    font-weight:            100;
    margin:                 0;
}

h5 {
    background-color:       #006969;    
    color:                  #FFFFFF;
    font-size:              24pt;
    font-weight:            300;
    margin:                 0;
}

img {
    width:                  75%;
}

main {
    width:                  80%;
    margin:                 auto;
}

p {
    margin:                 0;
}

.circle-badge {
    background-color:       #FFFFFF;
    width:                  50px;
    height:                 50px;
    border-radius:          50px;
    display:                inline-block;
}

.content-area {
    padding:                .5em;
}

.content-wrapper {
    background-color:       #034159;
    border-radius:          3px;
}

.content-header {
    background-color:       #006969;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    margin:                 0;
}

.header-logo {
    width:                  50px;
    height:                 50px;
    padding:                .1em;
}

.hud {
    padding:                .5em;
}

.img-wrap {
    margin:                 .25em;
}

.img-shadow {
    background-color:       #006969;
    box-shadow:             5px 5px 0px 0px #004646;
}

.response-wrapper {
    background-color:       #FFFFFF;
    margin:                 1em 0 1em 0;
}

.response {
    text-align:             left;
    padding:                1em;
    color:                  #006969;    
}

#wrap-chart {
    width:                  69%;
    display:                inline-block;
    vertical-align:         top;
}

#wrap-hud {
    width:                  30%;
    display:                inline-block;
    vertical-align:         top;    
}

/* -------------------- *
 * SVG
 * -------------------- */
svg {
    width:                  100%;
}

.chart-day {
    fill:                   #94D31B;
}

.chart-day-mean {
    fill:                   red;
}

.chart-trendline {
    stroke:                 yellow;
    stroke-width:           2px;
    fill:                   none;
}

.chart-fillunder {
    fill:                   black;
}
